@import '../../styles/vars';

.main {
  padding: 0 0 40px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    padding: 64px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $pink-light;
  }

  &__title {
    font-family: 'Fira Sans', sans-serif;
    color: $pink-dark;

    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
  }

  &__image {
    width: 125%;
  }
}

.container {
  max-width: 1240px;
  margin: 48px auto 0;

  display: flex;
  justify-content: space-between;
  gap: 10px;

  &__item {
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    // background-color: $blue-light;

    text-align: center;

    &-title {
      margin-bottom: 8px;
      font-weight: 600;
    }
  }
}