@import '../../styles/vars';

.header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Fira Sans', sans-serif;
}

.logo {
  width: 250px;
  height: 100%;
}

.list {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: space-between;

  &__item {
    text-decoration: none;
  }
}

.nav {
  width: 50%;

  &__link {
    text-decoration: none;
    color: $blue-dark;
  }
}